/* 
* General
*/

:root {
    --main-border-colour: #ddd;
    /* --primary-background-colour: #f8f8f8;
    --secondary-background-colour: #ececec; */
    --primary-background-colour: #000;
    --secondary-background-colour: #101010;
    --primary-brand-colour: #ddd;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

@media only screen and (max-width: 400px) {
    html {
    font-size: 9.411764705882353px;
    }
}

html, body {
    /* height: 100%; */
    width: 100%;
    margin: 0;
}

/* 
* Links
*/

a {
    color: #2e6cd1;
    text-decoration: none;
    transition: all 0.2s ease 0s;
}

a:hover {
    color: #000;
    text-decoration: none;
}

/* Google font import */
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
    background: var(--primary-background-colour);
    font-family: 'Exo 2', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.765;
    color: #000 !important;
    padding: 0;
    }

/* 
* Navbar
*/
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;

}
.navbar ul.nav li a {
    color: #fff;
    text-decoration: none;
    background: #b00;
    border: 1px solid #b00;
}

.navbar ul.nav li a:hover {
    color: #b00;
    background: #fff;
    border: 1px solid #b00;
}
